@{
    ViewData["Title"] = "Главная";
}
<div class="content-header">
        <div class="container-fluid">
            <div class="row mb-2">
                <div class="col-sm-6">
                    <h1 class="m-0 text-dark">Главная</h1>
                </div>
            </div>
        </div>
    </div>    
    <div class="content">
        <div class="container-fluid">
            <div class="row">
                <!--Видео по центру-->
                <div class="container-fluid h-100">
                    <div class="row align-items-center h-100">
                        <div class="col-sm-12">
                            <div class="row justify-content-center">
                                <div class="col-8 text-center">
                                    <div class="card">
                                        <div class="embed-responsive embed-responsive-16by9"><!--https://developers.google.com/youtube/youtube_player_demo?hl=ru-->
                                            <!--<iframe class="embed-responsive-item" src="https://www.youtube.com/embed/VhhanY2rPo0" frameborder="0" allowfullscreen=""></iframe>-->
                                            <iframe id="ytplayer" type="text/html" class="embed-responsive-item" src="https://www.youtube.com/embed/VhhanY2rPo0" frameborder="0" allowfullscreen=""></iframe>
                                            <!--<iframe id="ytplayer" type="text/html" src="https://www.youtube.com/embed/?listType=playlist&list=PL2hSwNsRtwto1JLxsfdr4FKrHxCzqAwFS&autoplay=1&modestbranding=1" frameborder="0" allowfullscreen></iframe>-->
</div>
                                    </div>

                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <!--.Видео по центру-->
                @*
                <div class="col-lg-6">
                    <div class="card">
                        <div class="card-body">
                            <h5 class="card-title">Card title</h5>

                            <p class="card-text">
                                Some quick example text to build on the card title and make up the bulk of the card's
                                content.
                            </p>

                            <a href="#" class="card-link">Card link</a>
                            <a href="#" class="card-link">Another link</a>
                        </div>
                    </div>

                    <div class="card">
                        <div class="card-body">
                            <h5 class="card-title">Card title</h5>

                            <p class="card-text">
                                Some quick example text to build on the card title and make up the bulk of the card's
                                content.
                            </p>

                            <a href="#" class="card-link">Card link</a>
                            <a href="#" class="card-link">Another link</a>
                        </div>
                    </div>

                    <div class="card card-primary card-outline">
                        <div class="card-body">
                            <h5 class="card-title">Card title</h5>

                            <p class="card-text">
                                Some quick example text to build on the card title and make up the bulk of the card's
                                content.
                            </p>
                            <a href="#" class="card-link">Card link</a>
                            <a href="#" class="card-link">Another link</a>
                        </div>
                    </div>
                </div>                
                <div class="col-lg-6">
                    <div class="card">
                        <div class="embed-responsive embed-responsive-16by9">
                            <iframe class="embed-responsive-item" src="https://www.youtube.com/embed/VhhanY2rPo0" frameborder="0" allowfullscreen=""></iframe>
                        </div>
                    </div>

                    <div class="card card-primary card-outline">
                        <div class="card-header">
                            <h5 class="m-0">Featured</h5>
                        </div>
                        <div class="card-body">
                            <h6 class="card-title">Special title treatment</h6>

                            <p class="card-text">With supporting text below as a natural lead-in to additional content.</p>
                            <a href="#" class="btn btn-primary">Go somewhere</a>
                        </div>
                    </div>
                </div> 
                *@               
            </div>           
        </div>
    </div>